body {
    margin: 0;
    overflow: hidden;
    background: #000;
    font-family: Arial;
}

#gameCanvas {
    width: 100vw;
    height: 100vh;
    background: #1a1a1a;
    display: block;
}

#chat-box {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 250px;
}

#chat-messages {
    height: 150px;
    overflow-y: auto;
    background: rgba(0,0,0,0.6);
    color: white;
    padding: 5px;
    border-radius: 4px;
    font-size: 13px;
}

#chat-input {
    width: 100%;
    padding: 6px;
    border-radius: 4px;
    border: none;
    outline: none;
    margin-top: 5px;
}
